doctype html
html(style='height:100%')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial')
        title= title
        link(href='stylesheets/Widgets/widgets.css', rel='stylesheet')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/Cesium/Cesium.js')
        link(href='stylesheets/bootstrap.min.css', rel='stylesheet') 
        script(src='https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js')
        script(src='/javascripts/bootstrap.min.js')
        script(src='/javascripts/viewerCesiumNavigationMixin.min.js')
    body(style='height:100%')
        block content
